.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-bottom: 110px;
}

.nav-bar {
    display: flex;
    font-size: 14px;
    color: #e5e7eb;
    align-items: flex-start;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
    margin-top: 90px;
    flex: 1 1 auto;
}

.left-con {
    margin-left: 200px;
}

.right-con {
    margin-right: 200px;
}

.items-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
   
}

.card {
    
    border: 4px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 20px;
    margin: 0px 20px;
    width: 150px;
    height: 150px;
    text-align: center;
}

.quote-sec {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: baseline;
    padding: 100px 0px;
}

.quote-sec p {
    width: 740px;
    font-size: 30px;
    font-style: italic;
    margin: 0px 0px;
    color: #1F2937
    
}

.author {
    padding-left: 500px;
    font-size: 20px;
    font-weight: 800;
}

.footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    height: 100px;
    color: #E5E7EB;

}



.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin-left: 200px;
}

.logo p {
    margin-top: 14px;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

ul {
    display: flex;
    list-style: none;
    margin-right: 200px;
}

li { 
    margin-left: 25px;
    
}

.img {
    background-color: grey;
    width: 500px;
    height: 230px;
    text-align: center;
}

.hero-main p {
    margin-bottom: 0px;
    margin-top: 0px;
}

.sec-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 10px;
}

.left-con button {
    margin-top: 10px;
    background-color: #3882f6;
    border-radius: 10px;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;
    width: 130px;
    height: 40px;
}




body {
    margin: 0 0 0 0;
}

.card-title {
    font-size: 36px;
    font-weight: 800;
    margin-top: 35px;
    margin-bottom: 35px;
}

.cards-text {
    display: flex;
    align-items: center;
}

.cards-text div {
    width: 150px;
    text-align: center;
    margin: 0px 24px 0px 24px;
    margin-bottom: 90px;
    font-size: 18px;
    color: lightslategray;
}

.call-ac {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.ac-text {
    width: 1000px;
    background-color: #3882f6;
    margin: 100px;
    border-radius: 20px;
    display: flex;
    padding: 50px 0px;
    align-items: center;
    justify-content: space-between
    

}

.b-text {
    font-size: 18px;
    color: #E5E7EB;
}

.ac-l {
    padding-left: 150px;
}

.ac-l p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    margin: 6px 0px;
}

.ac-text button {
    margin-right: 150px;
    width: 130px;
    height: 40px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: #F9FAF8;
    background-color: #3882f6;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: 600;
}